<%= form_for(Team.new, html: { class: "form-horizontal" }) do |f| %>
  <div class="form-group">
    <%= f.label :name, class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= f.text_field :name, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :captain_id, class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= f.select :captain_id, User.all.collect {|a| [a.name, a.id]}, {}, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :league_id, class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= f.select :league_id, League.all.collect {|a| [a.name, a.id]}, {}, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :image, "Image (as URL)",class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= f.text_field :image, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :place, class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= f.number_field :place, { class: "form-control" } %>
    </div>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
