<table class="data-table table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>League</th>
      <th>Place</th>
      <th>Color</th>
      <th>Captain</th>
      <th>Players</th>
      <% if action_name == "standard" || action_name == "super" %>
        <th class="dont-sort"></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.league.name %></td>
        <td><%= team.place %></td>
        <td><%= team.color %></td>
        <td><%= team.captain.name %></td>
        <td><%= team.players.count %></td>
        <% if action_name == "standard" || action_name == "super" %>
          <td class="btn-group">
            <%= link_to "View", team_path(team), class: "btn btn-success" %>
            <%= link_to "Edit", edit_team_path(team), class: "btn btn-primary" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
