<table class="data-table table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>League</th>
      <th>Place</th>
      <th>Color</th>
      <th>Captain</th>
      <th>Players</th>
      <th class="dont-sort"></th>
    </tr>
  </thead>
  <tbody>
    <% teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.league.name %></td>
        <td><%= team.place %></td>
        <td><%= team.color %></td>
        <td><%= team.captain.name %></td>
        <td><%= team.players.count %></td>
        <td class="btn-group">
          <%= link_to "View", team_path(team), class: "btn btn-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
