<div class="team center">
  <h3><%= @team.name %></h3>
  <%= image_tag @team.image if @team.image %>
  <br>
  <br>
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <h4>Captain</h4>
      <div>
        <span><%= @team.captain.name %></span>
        <% if current_user && @team.players.collect { |p| p.id }.include?(current_user.id) %>
          <span>| <%= @team.captain.phone_number %></span>
          <span>| <%= @team.captain.email %></span>
        <% end %>
      </div>
      <h4>Season</h4>
      <div><%= @team.season %></div>
      <h4>Year</h4>
      <div><%= @team.year %></div>
    </div>
    <div class="col-md-4">
      <h4>Roster</h4>
      <% if @team.players %>
        <div class="text-left col-md-offset-2">
          <ol>
            <% @team.players.each do |player| %>
              <li><%= player.name %></li>
            <% end %>
          </ol>
        </div>
      <% else %>
        There are no players on this team
      <% end %>
    </div>
  </div>
</div>
