<div class="team">
  <h3>Team</h3>
  <h4>Name:</h4>
  <%= @team.name %>
  <h4>Captain:</h4>
  <%= User.find(@team.captain).name %>
  <h4>Season:</h4>
  <%= @team.season %>
  <h4>Year:</h4>
  <%= @team.year %>

  <h3>Games</h3>
  <% if @team.games.empty? %>
    <p><%= "#{@team.name} has not played any games yet!"%></p>
  <% else %>
    <%= render :partial => "shared/games", :locals => { :games => @team.games } %>
  <% end %>
</div>
