<div class="team center">
  <h3><%= @team.name %></h3>
  <%= image_tag @team.image if @team.image %>
  <br>
  <br>
  <div class="row">
    <div class="col-md-3">
      <h4>Roster</h4>
      <% if @team.players %>
        <div class="text-left">
          <ol>
            <% @team.players.each do |player| %>
              <li><%= player.name %></li>
            <% end %>
          </ol>
        </div>
      <% else %>
        There are no players on this team
      <% end %>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-4">
          <h4>Captain</h4>
          <div><%= @team.captain.name %></div>
          <% if current_user && @team.players.collect { |p| p.id }.include?(current_user.id) %>
            <div><%= @team.captain.phone_number %></div>
            <div><%= @team.captain.email %></div>
          <% end %>
        </div>
        <div class="col-md-4">
          <h4>League</h4>
          <div><%= @team.league.name %></div>
        </div>
        <div class="col-md-4">
          <h4>Color</h4>
          <div><%= @team.color %></div>
        </div>
      </div>
      <div class="row game-stats">
        <div class="col-md-12">
          <h3>Stats</h3>
          <% @team.games.each do |game| %>
            <div class="row">
              <div class="col-xs-4">
                <div><%= "#{game.date} @#{game.time}" %></div>
              </div>
              <div class="col-xs-4">
                <%= link_to game.name, game_path(game.id), class: "btn btn-primary" %>
              </div>
              <div class="col-xs-4">
                <div><%= game.score %></div>
              </div>
            </div>
          <% end %>
          <% if @team.games.empty? %>
            There are no current stats on this team
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
