<div class="row">
  <div class="col-md-7">
    <div class="row">
      <div class="col-md-12">
        <h2>Edit <%= resource_name.to_s.humanize %></h2>
      </div>
    </div>

    <%= render partial: "form" %>
  </div>

  <div class="col-md-5">
    <%= render partial: "assessment"%>
    <%= render partial: "authentications"%>

    <div class="row">
      <div class="col-md-12 center">
        <h3>Unhappy?</h3>
        <div class="row">
          <div class="col-md-12">
            <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Things just won't be the same without you. Are you sure you want to destroy all hope for redemption?" }, method: :delete, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
