<h3 class="center"><%= @user.name %></h3>
<div class="row center">
  <div class="span4">
    <h4>Handling</h4>
    <div><%= @questionnaire.handling %></div>
  </div>
  <div class="span4">
    <h4>Cutting</h4>
    <div><%= @questionnaire.cutting %></div>
  </div>
  <div class="span4">
    <h4>Defense</h4>
    <div><%= @questionnaire.defense %></div>
  </div>
</div>
<div class="row center">
  <div class="span4">
    <h4>Fitness</h4>
    <div><%= @questionnaire.fitness %></div>
  </div>
  <div class="span4">
    <h4>Injuries</h4>
    <div><%= @questionnaire.injuries %></div>
  </div>
  <div class="span4">
    <h4>Height</h4>
    <div><%= @questionnaire.height %></div>
  </div>
</div>
<div class="row center">
  <div class="span4">
    <h4>Teams</h4>
    <div><%= @questionnaire.teams %></div>
  </div>
  <div class="span4">
    <h4>Co-captain</h4>
    <div><%= @questionnaire.cocaptain %></div>
  </div>
  <div class="span4">
    <h4>Roles</h4>
    <div><%= @questionnaire.roles %></div>
  </div>
</div>
<br>
<div class="center"><%= link_to "Back", admin_path, class: "btn btn-primary" %></div>
