%p Hey #{@user.first_name}!
%p If you don't already know, the Summer League Championship game is on Sunday! The game is at the Stewartstown Fairgrounds and starts at 5:00pm. If you can't make it, join us on the Facebook Live Stream starting at 4:50pm.
%div(style="text-align: center;")
  %p= image_tag "championship.jpg", width: 500
%p For more info, go to our...
%div(style="text-align: center;")
  %h3
    = link_to "Facebook", "https://www.facebook.com/StewartstownUPA"
    %span= " | "
    = link_to "Instagram", "https://www.instagram.com/stewartstownupa"
    %span= " | "
    = link_to "Website", "http://www.stewartstownupa.com"
%p That's all I've got to say. Hope you had a good season and enjoy your weekend!
%div(style="text-align: center;")
  %p Thanks,<br>Stewartstown Ultimate Players Assosciation
