%p Hey #{@user.first_name}!
%p If you didn't already know, the Summer Season Sign-Ups are Live! Today is the last day to sign up! You're running out of time, so click the link below and sign up!
%div(style="text-align: center;")
  %h3= link_to "Sign Up Now!", "http://www.stewartstownupa.com"
  %p= image_tag "gifs/basketball.gif", width: 300
%p When signing up, remember that your registration is not complete until you click "Register" after paying the league fee. If you neglect to click Register, you will not be considered registered and will not be placed on a team in the draft. For all of those who have already signed up, thank you very much!
%div(style="text-align: center;")
  %h3= link_to "Sign Up Today!", "http://www.stewartstownupa.com"
  %p= image_tag "gifs/zonked.gif", width: 300
  %p Thanks,<br>Stewartstown Ultimate Players Assosciation
