- close_date = "Monday May 30th"
%p Hey #{@user.first_name}!
%p If you didn't already know, the Summer League Registration is live! <b>It will close #{close_date} at 10:00 PM. #{link_to "Sign up today!", "http://www.stewartstownupa.com"}</b> When signing up, remember that your registration is not complete until you click "Register" after paying the league fee. If you neglect to click Register, you will not be considered registered and will not be drafted!
%div(style="text-align: center;")
  %h3 GET READY TO LAYOUT
  %p= image_tag "layout.jpg", width: 300
  %p There will be no late signups this year, so sign up TODAY!
  %h3 Use your head and #{link_to "Sign Up!", "http://www.stewartstownupa.com"}
  %p= image_tag "basketball.gif", width: 300
  %p For all of those who have already signed up, thank you very much!
  %p
    Thanks,
    %br
    Tomify
