<div class="admins standard">
  <ul class="nav nav-tabs nav-center">
    <li class="active"><a href="#teams" data-toggle="tab">Teams</a></li>
    <li><a>|</a></li>
    <li><a href="#captains" data-toggle="tab">Captains</a></li>
    <li><a>|</a></li>
    <li><a href="#users" data-toggle="tab">Users</a></li>
    <li><a>|</a></li>
    <li><a href="#games" data-toggle="tab">Games</a></li>

    <div class="btn-group pull-right">
      <%= link_to "Add Game",
                  "#games_new_modal",
                  :class => "admin_modal btn btn-success",
                  :role => "button",
                  :data => { :toggle => "modal" } %>
      <%= link_to "Add Team",
                  "#teams_new_modal",
                  :class => "admin_modal btn btn-primary",
                  :role => "button",
                  :data => { :toggle => "modal" } %>
    </div>
  </ul>

  <div id="my-tab-content" class="tab-content">
    <div class="tab-pane active" id="teams">
      <ul class="nav nav-pills">
        <li class="active"><a href="#all-teams" data-toggle="tab">Teams</a></li>
        <li><a href="#current-teams" data-toggle="tab">Current Teams</a></li>
        <li><a href="#inactive-teams" data-toggle="tab">Inactive Teams</a></li>
      </ul>
      <div id="teams-content" class="tab-content">
        <div class="tab-pane active" id="all-teams">
          <div class="row-fluid">
            <h3>Teams</h3>
            <% if @teams.empty? %>
              <p>There aren't any teams yet!</p>
            <% else %>
              <%= render :partial => "shared/teams", :locals => { :teams => @teams } %>
            <% end %>
          </div>
        </div>
        <div class="tab-pane" id="current-teams">
          <div class="row-fluid">
            <h3>Current Teams</h3>
            <% if @current_teams.empty? %>
              <p>There aren't any current teams!</p>
            <% else %>
              <%= render :partial => "shared/teams", :locals => { :teams => @current_teams } %>
            <% end %>
          </div>
        </div>
        <div class="tab-pane" id="inactive-teams">
          <div class="row-fluid">
            <h3>Inactive Teams</h3>
            <% if @inactive_teams.empty? %>
              <p>There aren't any inactive teams!</p>
            <% else %>
              <%= render :partial => "shared/teams", :locals => { :teams => @inactive_teams } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="captains">
      <ul class="nav nav-pills">
        <li class="active"><a href="#all-captains" data-toggle="tab">Captains</a></li>
        <li><a href="#current-captains" data-toggle="tab">Current Captains</a></li>
        <li><a href="#inactive-captains" data-toggle="tab">Inactive Captains</a></li>
      </ul>
      <div id="captains-content" class="tab-content">
        <div class="tab-pane active" id="all-captains">
          <div class="row-fluid">
            <h3>Captains</h3>
            <% if @captains.empty? %>
              <p>There aren't any captains yet!</p>
            <% else %>
              <%= render :partial => "shared/users", :locals => { :users => @captains } %>
            <% end %>
          </div>
        </div>
        <div class="tab-pane" id="current-captains">
          <div class="row-fluid">
            <h3>Current Captains</h3>
            <% if @current_captains.empty? %>
              <p>There aren't any current captains!</p>
            <% else %>
              <%= render :partial => "shared/users", :locals => { :users => @current_captains } %>
            <% end %>
          </div>
        </div>
        <div class="tab-pane" id="inactive-captains">
          <div class="row-fluid">
            <h3>Inactive Captains</h3>
            <% if @inactive_captains.empty? %>
              <p>There aren't any inactive captains!</p>
            <% else %>
              <%= render :partial => "shared/users", :locals => { :users => @inactive_captains } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="users">
      <ul class="nav nav-pills">
        <li class="active"><a href="#all-users" data-toggle="tab">Users</a></li>
        <li><a href="#active-users" data-toggle="tab">Active Users</a></li>
        <li><a href="#inactive-users" data-toggle="tab">Inactive Users</a></li>
      </ul>
      <div id="users-content" class="tab-content">
        <div class="tab-pane active" id="all-users">
          <div class="row-fluid">
            <h3>All Users</h3>
            <% if @users.empty? %>
              <p>There aren't any users yet!</p>
            <% else %>
              <%= render :partial => "shared/users", :locals => { :users => @users } %>
            <% end %>
          </div>
        </div>
        <div class="tab-pane" id="active-users">
          <div class="row-fluid">
            <h3>Active Users</h3>
            <% if @active_users.empty? %>
              <p>There aren't any active users yet!</p>
            <% else %>
              <%= render :partial => "shared/users", :locals => { :users => @active_users } %>
            <% end %>
          </div>
        </div>
        <div class="tab-pane" id="inactive-users">
          <div class="row-fluid">
            <h3>Inactive Users</h3>
            <% if @inactive_users.empty? %>
              <p>There aren't any inactive users!</p>
            <% else %>
              <%= render :partial => "shared/users", :locals => { :users => @inactive_users } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="games">
      <ul class="nav nav-pills">
        <li class="active"><a href="#all-games" data-toggle="tab">Games</a></li>
        <li><a href="#current-games" data-toggle="tab">Current games</a></li>
        <li><a href="#inactive-games" data-toggle="tab">Inactive games</a></li>
      </ul>
      <div id="games-content" class="tab-content">
        <div class="tab-pane active" id="all-games">
          <div class="row-fluid">
            <h3>Games</h3>
            <% if @games.empty? %>
              <p>There aren't any games yet!</p>
            <% else %>
              <%= render :partial => "shared/games", :locals => { :games => @games } %>
            <% end %>
          </div>
        </div>
        <div class="tab-pane" id="current-games">
          <div class="row-fluid">
            <h3>Current Games</h3>
            <% if @current_games.empty? %>
              <p>There aren't any current games!</p>
            <% else %>
              <%= render :partial => "shared/games", :locals => { :games => @current_games } %>
            <% end %>
          </div>
        </div>
        <div class="tab-pane" id="inactive-games">
          <div class="row-fluid">
            <h3>Inactive Games</h3>
            <% if @inactive_games.empty? %>
              <p>There aren't any inactive games!</p>
            <% else %>
              <%= render :partial => "shared/games", :locals => { :games => @inactive_games } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render :partial => "shared/modals/teams_new_modal" %>
<%= render :partial => "shared/modals/games_new_modal" %>
