<div class="admins standard">
  <ul class="nav nav-tabs nav-center">
    <li class="active"><a href="#teams" data-toggle="tab">Teams</a></li>
    <li><a>|</a></li>
    <li><a href="#captains" data-toggle="tab">Captains</a></li>
    <li><a>|</a></li>
    <li><a href="#users" data-toggle="tab">Users</a></li>
    <li><a>|</a></li>
    <li><a href="#games" data-toggle="tab">Games</a></li>

    <div class="btn-group pull-right">
      <%= link_to "Add Game", "#games_new_modal", class: "admin_modal btn btn-success", role: "button", data: { toggle: "modal" } %>
      <%= link_to "Add Team","#teams_new_modal", class: "admin_modal btn btn-primary", role: "button", data: { toggle: "modal" } %>
    </div>
  </ul>

  <div id="my-tab-content" class="tab-content">
    <div class="tab-pane active" id="teams">
      <ul class="nav nav-pills">
        <li class="active"><a href="#all-teams" data-toggle="tab">Teams</a></li>
        <li><a href="#current-teams" data-toggle="tab">Current Teams</a></li>
        <li><a href="#past-teams" data-toggle="tab">Past Teams</a></li>
      </ul>
      <div id="teams-content" class="tab-content">
        <div class="tab-pane active" id="all-teams">
          <div class="row">
            <div class="col-md-12">
              <h3>Teams</h3>
              <% if @teams.empty? %>
                <p>There aren't any teams yet!</p>
              <% else %>
                <%= render partial: "teams/table", locals: { teams: @teams } %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="current-teams">
          <div class="row">
            <div class="col-md-12">
              <h3>Current Teams</h3>
              <% if @current_teams.empty? %>
                <p>There aren't any teams for the current league yet!</p>
              <% else %>
                <%= render partial: "teams/table", locals: { teams: @current_teams } %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="past-teams">
          <div class="row">
            <div class="col-md-12">
              <h3>Past Teams</h3>
              <% if @past_teams.empty? %>
                <p>There aren't any past teams!</p>
              <% else %>
                <%= render partial: "teams/table", locals:  { teams:  @past_teams } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="captains">
      <ul class="nav nav-pills">
        <li class="active"><a href="#all-captains" data-toggle="tab">Captains</a></li>
        <li><a href="#current-captains" data-toggle="tab">Current Captains</a></li>
        <li><a href="#past-captains" data-toggle="tab">Past Captains</a></li>
      </ul>
      <div id="captains-content" class="tab-content">
        <div class="tab-pane active" id="all-captains">
          <div class="row">
            <div class="col-md-12">
              <h3>Captains</h3>
              <% if @captains.empty? %>
                <p>There aren't any captains yet!</p>
              <% else %>
                <%= render partial: "users/table", locals: { users: @captains } %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="current-captains">
          <div class="row">
            <div class="col-md-12">
              <h3>Current Captains</h3>
              <% if @current_captains.empty? %>
                <p>There aren't any captains for the current league yet!</p>
              <% else %>
                <%= render partial: "users/table", locals: { users: @current_captains } %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="past-captains">
          <div class="row">
            <div class="col-md-12">
              <h3>Past Captains</h3>
              <% if @past_captains.empty? %>
                <p>There aren't any past captains!</p>
              <% else %>
                <%= render partial: "users/table", locals: { users: @past_captains } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="users">
      <ul class="nav nav-pills">
        <li class="active"><a href="#all-users" data-toggle="tab">Users</a></li>
        <li><a href="#registered" data-toggle="tab">Registered Users</a></li>
        <li><a href="#not-registered" data-toggle="tab">Not Registered Users</a></li>
      </ul>
      <div id="users-content" class="tab-content">
        <div class="tab-pane active" id="all-users">
          <div class="row">
            <div class="col-md-12">
              <h3>All Users</h3>
              <% if @users.empty? %>
                <p>There aren't any users yet!</p>
              <% else %>
                <%= render partial: "users/table", locals: { users: @users } %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="registered">
          <div class="row">
            <div class="col-md-12">
              <h3>Registered</h3>
              <% if @registered_users.empty? %>
                <p>There aren't any registered users yet!</p>
              <% else %>
                <%= render partial: "users/table", locals: { users: @registered_users } %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="not-registered">
          <div class="row">
            <div class="col-md-12">
              <h3>Not Registered</h3>
              <% if @not_registered_users.empty? %>
                <p>There aren't any users that haven't registered!</p>
              <% else %>
                <%= render partial: "users/table", locals: { users: @not_registered_users } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="games">
      <ul class="nav nav-pills">
        <li class="active"><a href="#all-games" data-toggle="tab">Games</a></li>
        <li><a href="#current-games" data-toggle="tab">Current games</a></li>
        <li><a href="#past-games" data-toggle="tab">Past games</a></li>
      </ul>
      <div id="games-content" class="tab-content">
        <div class="tab-pane active" id="all-games">
          <div class="row">
            <div class="col-md-12">
              <h3>Games</h3>
              <% if @games.empty? %>
                <p>There aren't any games yet!</p>
              <% else %>
                <%= render partial: "games/table", locals: { games: @games } %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="current-games">
          <div class="row">
            <div class="col-md-12">
              <h3>Current Games</h3>
              <% if @current_games.empty? %>
                <p>There aren't any games for the current league yet!</p>
              <% else %>
                <%= render partial: "games/table", locals: { games: @current_games } %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="past-games">
          <div class="row">
            <div class="col-md-12">
              <h3>Past Games</h3>
              <% if @past_games.empty? %>
                <p>There aren't any past games!</p>
              <% else %>
                <%= render partial: "games/table", locals: { games: @past_games } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "teams/new_modal" %>
<%= render partial: "games/new_modal" %>
<%= render partial: "stats/modal" %>
