<div class="admins super">
  <ul class="nav nav-pills">
    <li class="active"><a href="#drafts" data-toggle="tab">Drafts</a></li>
    <li><a href="#none" data-toggle="tab">None</a></li>
    <li><a href="#standards" data-toggle="tab">Standards</a></li>
    <li><a href="#supers" data-toggle="tab">Supers</a></li>
    <div class="pull-right">
      <%= link_to "Add Draft",
                  "#drafts_new_modal",
                  :class => "admin_modal btn btn-success",
                  :role => "button",
                  :data => { :toggle => "modal" } %>
    </div>
  </ul>
  <div id="content" class="tab-content">
    <div class="tab-pane active" id="drafts">
      <div class="row-fluid">
        <h3>Drafts</h3>
        <% if @drafts.empty? %>
          <p>There aren't any yet!</p>
        <% else %>
          <%= render :partial => "shared/drafts", :locals => { :drafts => @drafts } %>
        <% end %>
      </div>
    </div>
    <div class="tab-pane" id="none">
      <div class="row-fluid">
        <h3>None</h3>
        <% if @none.empty? %>
          <p>There aren't any yet!</p>
        <% else %>
          <%= render :partial => "shared/admin_users", :locals => { :users => @none } %>
        <% end %>
      </div>
    </div>
    <div class="tab-pane" id="standards">
      <div class="row-fluid">
        <h3>Standards</h3>
        <% if @standards.empty? %>
          <p>There aren't any yet!</p>
        <% else %>
          <%= render :partial => "shared/admin_users", :locals => { :users => @standards } %>
        <% end %>
      </div>
    </div>
    <div class="tab-pane" id="supers">
      <div class="row-fluid">
        <h3>Supers</h3>
        <% if @supers.empty? %>
          <p>There aren't any yet!</p>
        <% else %>
          <%= render :partial => "shared/admin_users", :locals => { :users => @supers } %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render :partial => "shared/modals/drafts_new_modal" %>
