<div id="drafts_new_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add Draft</h3>
  </div>
  <div class="modal-body">
    <%= simple_form_for(@draft) do |f| %>
      <div class="row-fluid">
        <div class="span5">
          <%= f.input :season, :as => :select, :collection => @team.season_collection %>
        </div>
        <div class="span5 offset1">
          <%= f.input :year, :as => :select, :collection => @team.year_collection %>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span5">
          <%= f.input :active, :as => :select %>
        </div>
      </div>
      <%= f.button :submit, "Submit", :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>

