<div class="draft">
  <div class="row">
    <div class="col-md-3">
      <h4>Drafted Players</h4>
      <div class="row">
        <h5 class="col-md-8">Player</h5>
        <h5 class="col-md-4">Pick</h5>
      </div>
      <div class="row">
        <div class="col-md-12">
          <% if @drafted_players.empty? %>
            <div>There are no players yet!</div>
            <br>
          <% else %>
            <% @drafted_players.each do |dp| %>
              <div class="row">
                <div class="col-md-8"><%= dp.player.try(:name) || "None" %></div>
                <div class="col-md-4 text-center"><%= dp.position %></div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <h3 class="center">
            <span>Draft <%= @draft.id %>: </span>
            <span><%= @draft.league.name %></span>
          </h3>
          <h4 class="center">
            <% if !@draft.active? %>
              <span class="red">The draft has not started yet</span>
            <% elsif @draft.my_turn?(current_user) %>
              <span class="teams-turn">Turn: <%= @draft.current_pick.team.name %></span>
            <% else %>
              <span>Turn: <%= @draft.current_pick.team.name %></span>
            <% end %>
            <span>Pick: <%= @draft.turn %></span>
          </h4>
          <% if @draft.active? %>
            <h5 class="center check" data-id="<%= @draft.id %>" data-turn="<%= @draft.turn %>">
              Auto-refresh? <%= check_box_tag("accept") %>
            </h5>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>Draft Player</h4>
          <%= form_for(:drafted_player, url: captain_drafted_players_path, html: { class: "form-horizontal" } ) do |f| %>
            <%= f.hidden_field :draft_id, value: @draft.id %>
            <div class="row">
              <h5 class="col-md-4">Player</h5>
              <h5 class="col-md-3"></h5>
            </div>
            <div class="form-group">
              <div class="col-md-4">
                <%= f.select :player_id, @users_with_baggage, {}, { class: "form-control" } %>
              </div>
              <div class="col-md-3">
                <%= f.submit "Draft", class: "btn btn-success" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>Tentative Players</h4>
          <%= form_for(:tentative_player, url: captain_tentative_players_path, html: { class: "form-horizontal" } ) do |f| %>
            <%= f.hidden_field :draft_id, value: @draft.id %>
            <div class="row">
              <h5 class="col-md-4">Player</h5>
              <h5 class="col-md-5">Info</h5>
              <h5 class="col-md-3"></h5>
            </div>
            <div class="form-group">
              <div class="col-md-4">
                <%= f.select :player_id, @users_with_baggage, {}, { class: "form-control" } %>
              </div>
              <div class="col-md-5">
                <%= f.text_field :info, { class: "form-control" } %>
              </div>
              <div class="col-md-3">
                <%= f.submit "Add", class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
          <% @tentative_players.each do |tp| %>
            <div class="row">
              <div class="col-md-4"><%= tp.player.name %></div>
              <div class="col-md-5"><%= tp.info %></div>
              <div class="col-md-3 btn-group">
                <%= link_to "Draft", create_from_tentative_captain_drafted_players_path(id: tp.id, draft_id: @draft.id), method: :post, class: "btn btn-success" %>
                <%= link_to "X", captain_tentative_player_path(id: tp.id), method: :delete, class: "btn btn-danger" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
