<%= form_for(@game, url: admin_games_path, html: { class: "form-horizontal" }) do |f| %>
  <div class="form-group">
    <%= f.label :league, class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= f.select :league_id, League.all.collect {|a| [a.name, a.id]}, {}, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag :date, "Date", class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= text_field_tag "game[date]", "", class: "form-control", data: { value: @game.try(:date) }  %>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag :time, "Time", class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= text_field_tag "game[time]", "", class: "form-control", data: { value: @game.try(:time) }  %>
    </div>
  </div>
  <div class="form-group">
    <%= f.fields_for :team_stats1 do |stats| %>
      <%= stats.label :team_id, "Team 1", class: "col-md-4 control-label" %>
      <div class="col-md-8">
        <%= stats.select :team_id, Team.all.collect {|a| [a.name, a.id]}, {}, { class: "form-control" } %>
      </div>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.fields_for :team_stats2 do |stats| %>
      <%= stats.label :team_id, "Team 2", class: "col-md-4 control-label" %>
      <div class="col-md-8">
        <%= stats.select :team_id, Team.all.collect {|a| [a.name, a.id]}, {}, { class: "form-control" } %>
      </div>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :field_id, class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= f.select :field_id, Field.all.collect {|a| [a.name, a.id]}, {}, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name, placeholder: "Only need 1 name per date", class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= f.text_field :name, { class: "form-control" } %>
    </div>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
