<table class="data-table table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Admin</th>
      <th class="dont-sort"></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user|%>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone_number %></td>
        <td><%= user.admin %></td>
        <td class="btn-group">
          <%= link_to "Upgrade", update_admin_path(user.id, up: true), method: :put, class: "btn btn-primary" %>
          <%= link_to "Downgrade", update_admin_path(user.id, up: false), method: :put, class: "btn btn-warning" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
