<table class="data-table table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Experience</th>
      <th>Gender</th>
      <th>Shirt Size</th>
      <th class="dont-sort">Questionnaire</th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone_number %></td>
        <td><%= user.experience %></td>
        <td><%= user.gender %></td>
        <td><%= user.shirt_size %></td>
        <td>
          <% if user.questionnaire %>
            <%= link_to "View", user_questionnaire_path(user.id), class: "btn btn-primary" %>
          <% else %>
            <%= link_to "None", "#", class: "btn btn-default" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
