<table class="data-table table table-striped table-responsive">
  <thead>
    <tr>
      <th>League</th>
      <th class="default-sort">Partner 1</th>
      <th>Comment</th>
      <th class="default-sort">Partner 2</th>
      <th>Comment</th>
      <th>Approval</th>
    </tr>
  </thead>
  <tbody>
    <% baggages.each do |baggage|%>
      <tr>
        <td><%= baggage.league.name %></td>
        <td><%= baggage.partner1.name %></td>
        <td><%= baggage.comment1 %></td>
        <td><%= baggage.partner2.name %></td>
        <td><%= baggage.comment2 %></td>
        <td><%= link_to baggage.approved ? "Disapprove" : "Approve", approve_super_baggage_path(baggage.id), method: :post, class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
