<div class="row">
  <div class="col-md-12">
    <h2>Change your password</h2>

    <%= form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "form-horizontal" } do |f| %>
      <%= f.hidden_field :reset_password_token %>
      <div class="form-group">
        <%= f.label :password, class: "col-md-4 control-label" %>
        <div class="col-md-6">
          <%= f.password_field :password, { class: "form-control" } %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, class: "col-md-4 control-label" %>
        <div class="col-md-6">
          <%= f.password_field :password_confirmation, { class: "form-control" } %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
          <%= f.submit "Change My Password", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
