<table class="table">
  <thead>
    <tr>
      <th>Season</th>
      <th>Year</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    <% drafts.each do |draft|%>
      <tr>
        <%= simple_form_for(draft, :url => draft_path(draft.id), :html => { :class => "auto-width", :method => :put }) do |f| %>
          <td><%= f.input :season, :label => false, :as => :select, :collection => @team.season_collection %></td>
          <td><%= f.input :year, :label => false, :as => :select, :collection => @team.year_collection %></td>
          <td><%= f.input :active, :label => false, :as => :select %></td>
          <td class="btn-group">
            <%= f.button :submit, "Update", :class => "btn btn-primary" %>
            <%= link_to "Delete", draft_path(draft), :method => :delete, :class => "btn btn-danger", :confirm => "Are you sure you want to delete this draft?" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
