<table class="table table-striped">
  <thead>
    <tr>
      <th>Winner</th>
      <th>Loser</th>
      <th>Creator</th>
    </tr>
  </thead>
  <tbody>
    <% games.each do |game| %>
      <tr>
        <td><%= game.winner.name %></td>
        <td><%= game.loser.name %></td>
        <% if action_name == "standard" || action_name == "super" %>
          <td><%= game.creator.name %></td>
          <td class="btn-group">
            <%= link_to "View", game_path(game), :class => "btn btn-success" %>
            <%= link_to "Edit", edit_game_path(game), :class => "btn btn-primary" %>
            <%= link_to "Delete", game_path(game), :method => :delete, :class => "btn btn-danger", :confirm => "Are you sure you want to delete this game?" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
