<% unless current_user.try(:on_a_team?) %>
  <div class="row">
    <div class="col-md-12">
      <h3>Register for <%= @league.name %></h3>
      <% if current_user %>
        <% if current_user.registered? %>
          <%= link_to "Unregister", unregister_path, class: "btn btn-danger" %>
          <%= link_to "Edit Questionnaire", "#", data: { toggle: "modal", target: "#questionnaire-modal" }, class: "btn btn-primary" %>
        <% else %>
          <% if current_user.questionnaire_for(@league.id) %>
            <% if current_user.paid? %>
              <%= link_to "Register", "#", data: { toggle: "modal", target: "#waiver-modal" }, class: "btn btn-success" %>
            <% else %>
              <%= link_to "Pay with Credit Card", "#", data: { toggle: "modal", target: "#credit-card-modal" }, class: "btn btn-success" %>
            <% end %>
            <%= link_to "Edit Questionnaire", "#", data: { toggle: "modal", target: "#questionnaire-modal" }, class: "btn btn-primary" %>
          <% else %>
            <% if current_user.paid? %>
              <%= link_to "Register", "#", class: "btn btn-success", data: { confirm: 'You must take the questionnaire first!' } %>
            <% else %>
              <%= link_to "Pay with Credit Card", "#", class: "btn btn-success", data: { confirm: 'You must take the questionnaire first!' } %>
            <% end %>
            <%= link_to "Questionnaire", "#", data: { toggle: "modal", target: "#questionnaire-modal" }, class: "btn btn-primary" %>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to "Sign in to Register!", new_session_path, class: "btn btn-success"  %>
      <% end %>
    </div>
  </div>

  <%= render partial: "shared/waiver_modal" if current_user %>
  <%= render partial: "shared/credit_card_modal" if current_user %>
  <%= render partial: "questionnaires/modal" if current_user %>
<% end %>
