<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "wide" }) do |f| %>
  <% if action_name == "new" %>
  <div class="row-fluid">
    <div class="span5">
      <%= f.input :email %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span5">
      <%= f.input :password %>
    </div>
    <div class="span5 offset1">
      <%= f.input :password_confirmation %>
    </div>
  </div>
  <% else %>
  <div class="row-fluid">
    <div class="span5">
      <%= f.input :email, :input_html => { :readonly => true } %>
    </div>
    <div class="span5 offset1">
      <% if @password %>
        <%= f.input :current_password %>
      <% end %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span5">
      <%= f.input :password, :label => "New Password" %>
    </div>
    <div class="span5 offset1">
      <%= f.input :password_confirmation %>
    </div>
  </div>
  <% end %>
  <div class="row-fluid">
    <div class="span5">
      <%= f.input :first_name %>
    </div>
    <div class="span5 offset1">
      <%= f.input :last_name %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span5">
      <%= f.input :gender, :as => :select, :collection => { "Male" => :male, "Female" => :female } %>
    </div>
    <div class="span5 offset1">
      <%= f.input :experience,
                  :as => :select,
                  :label => "Experience (years)",
                  :collection => { "0" => :"0 years",
                                   "1-2" => "1-2 years",
                                   "3-4" => "3-4 years",
                                   "6++" => "6++ years",
                                 } %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span5">
      <%= f.input :phone_number %>
    </div>
    <div class="span5 offset1">
      <%= f.input :shirt_size,
                  :as => :select,
                  :collection => { "XSmall" => :xsmall,
                                   "Small" => :small,
                                   "Medium" => :medium,
                                   "Large" => :large,
                                   "XLarge" => :xlarge,
                                   "XXLarge" => :xxlarge
                                 } %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <%= f.input :birthday, :as => :string, :input_html => { :value => localize(f.object.birthday) } %>
    </div>
  </div>
  <%= f.button :submit, :class => "btn btn-primary" %>
<% end %>
