<%= simple_form_for(@team) do |f| %>
  <div class="row-fluid">
    <div class="span5">
      <%= f.input :name %>
    </div>
    <div class="span5 offset1">
      <%= f.input :captain_id, :as => :select, :collection => @team.captain_collection %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span5">
      <%= f.input :season, :as => :select, :collection => @team.season_collection %>
    </div>
    <div class="span5 offset1">
      <%= f.input :year, :as => :select, :collection => @team.year_collection %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span5">
      <%= f.input :image, :label => "Image (as URL)" %>
    </div>
  </div>
  <%= f.button :submit, "Submit", :class => "btn btn-primary" %>
<% end %>
