<%= semantic_form_for(@team, :html => { :class => "wide" }) do |f| %>
  <%= f.inputs do %>
    <div class="row-fluid">
      <div class="span5">
        <%= f.input :name %>
      </div>
      <div class="span5 offset1">
        <%= f.input :captain, :as => :select, :collection => @team.captain_collection %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span5">
        <%= f.input :season, :as => :select, :collection => @team.season_collection %>
      </div>
      <div class="span5 offset1">
        <%= f.input :year, :as => :select, :collection => @team.year_collection %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span5">
        <%= f.input :active, :as => :select %>
      </div>
      <div class="span5 offset1">
        <%= f.input :image, :label => "Image (as URL)" %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <%= f.input :players, :as => :select, :input_html => { :id => "searchable" } %>
      </div>
    </div>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit, :label => "Submit", :as => :button, :button_html => { :class => "btn btn-primary" } %>
  <% end %>
<% end %>
