<table class="table">
  <thead>
    <tr>
      <th>League</th>
      <th>Order</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% drafts.each do |draft|%>
      <tr>
        <td><%= draft.league.name %></td>
        <td><%= link_to "Edit", order_super_draft_path(draft.id), class: "btn btn-success", role: "button", data: { id: draft.id, toggle: "modal" } %>
        </td>
        <td class="btn-group">
          <%= link_to "Feed", feed_draft_path(draft.id), class: "btn btn-primary" %>
          <%= link_to "Reset", reset_super_draft_path(draft.id), method: :delete, class: "btn btn-warning", confirm: "Are you sure you want to reset this draft?" %>
          <%= link_to "Delete", super_draft_path(draft.id), method: :delete, class: "btn btn-danger", confirm: "Are you sure you want to delete this draft?" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
