<% if !@events.empty? %>
  <br>
  <div class="center schedule">
    <h3>Schedule</h3>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered center-th">
          <thead>
            <th></th>
            <th>Date</th>
            <th>Time</th>
            <th>Field</th>
            <th>Event</th>
          </thead>
          <tbody>
            <% @events.each do |event| %>
              <tr class="<%= "success active" if event.datetime.beginning_of_day > DateTime.now && event.datetime.end_of_day < DateTime.now + 1.week %>">
                <td><%= event.title.blank? ? "Regular Season" : event.title %></td>
                <td><%= event.date %></td>
                <td><%= event.time %></td>
                <td><%= event.field.name %></td>
                <td><%= event.text.blank? ? event.game.try(:name) : event.text %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
