<div class="center">
  <%= image_tag "spring.jpg", class: "img-responsive" %>
</div>
<br>
<div class="center">
  <h3>Check out this years teams!</h3>
  <div>
    <% @teams.each do |team| %>
      <%= link_to team.name, team_path(team.id), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<div class="center">
  <h3>Announcements</h3>
  <% if !@announcements.empty? %>
    <% @announcements.each do |announcement| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h4><%= announcement.heading %></h4>
          <p class="text-left"><%=raw announcement.text.gsub("\n", "<br>") %></p>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>There aren't any announcements at this time</p>
  <% end %>
</div>
<% if !@games.empty? %>
  <br>
  <div class="center schedule">
    <h3>Schedule</h3>
    <div class="row">
      <% @games.keys.each_with_index do |date, index| %>
        <% if index != 0 && index % 2 == 0 %>
          </div>
          <div class="row">
        <% end %>
        <div class="col-md-6">
          <table class="center-th table table-bordered">
            <thead>
              <tr>
                <th colspan="100"><%= @games[date][:name] %></th>
              </tr>
              <tr>
                <th colspan="100"><%= date %></th>
              </tr>
              <tr>
                <th>Time</th>
                <% @games[date][:fields].each do |field| %>
                  <th><%= field.name %></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% @games[date][:times].each do |time| %>
                <tr>
                  <td><%= time %></td>
                  <% @games[date][:fields].each do |field| %>
                    <% game = @games[date][:games].select { |g| g.time == time && g.field == field }.first %>
                    <% if game %>
                      <td><%= game.teams.collect(&:name).join(" vs ") %></td>
                    <% else %>
                      <td>No game</td>
                    <% end %>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
