<div class="center">
  <%= render partial: "shared/summer" %>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= image_tag "summer.jpg", class: "img-responsive center-block padding-20" %>
  </div>
</div>
<div class="center">
  <h3>Announcements</h3>
  <% if !@announcements.empty? %>
    <% @announcements.each do |announcement| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h4><%= announcement.heading %></h4>
          <p class="text-left"><%=raw announcement.text.gsub("\n", "<br>") %></p>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>There aren't any announcements at this time</p>
  <% end %>
</div>
<%= render partial: "pages/schedule" %>
