<%= simple_form_for(@game) do |f| %>
  <div class="row-fluid">
    <div class="span12">
      <div class="row-fluid">
        <div class="span6">
          <%= label_tag :date %>
          <%= text_field_tag "game[date]", "", data: { value: @game.date } %>
        </div>
        <div class="span6">
          <%= label_tag :time %>
          <%= text_field_tag "game[time]", "", data: { value: @game.time } %>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span6">
          <%= f.simple_fields_for :team_stats1 do |stats| %>
            <%= stats.input :team_id, :as => :select, :collection => Team.active %>
          <% end %>
        </div>
        <div class="span6">
          <%= f.simple_fields_for :team_stats2 do |stats| %>
            <%= stats.input :team_id, :as => :select, :collection => Team.active %>
          <% end %>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span6">
          <%= f.input :field_id, :as => :select, :collection => Field.all %>
        </div>
        <div class="span6">
          <%= f.label :name %>
          <%= f.text_field :name, placeholder: "Only need 1 name per date/time" %>
        </div>
      </div>
    </div>
  </div>
  <%= f.button :submit, "Submit", :class => "btn btn-primary" %>
<% end %>
