<table class="data-table table table-striped">
  <thead>
    <tr>
      <th>League</th>
      <th>Date</th>
      <th>Time</th>
      <th>Field</th>
      <th>Teams</th>
      <th></th>
      <th class="dont-sort"></th>
    </tr>
  </thead>
  <tbody>
    <% games.each do |game| %>
      <tr>
        <td><%= game.league.name %></td>
        <td><%= game.date %></td>
        <td><%= game.time %></td>
        <td><%= game.field.name %></td>
        <td><%= game.team1.name %></td>
        <td><%= game.team2.name %></td>
        <td class="btn-group">
          <%= link_to "Stats", "#", class: "btn btn-success edit-stats", data: { id: game.id } %>
          <%= link_to "Edit", edit_game_path(game), class: "btn btn-primary" %>
          <%= link_to "Delete", game_path(game), method: :delete, class: "btn btn-danger", confirm: "Are you sure you want to delete this game?" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: "stats/modal" %>
