<div class="game center">
  <h3><%= @game.date %> @ <%= @game.time %></h3>
  <div class="row">
    <div class="span4 offset2">
      <h4>Team 1:</h4>
      <%= @game.team1.name %>
    </div>
    <div class="span4">
      <h4>Team 2:</h4>
      <%= @game.team2.name %>
    </div>
  </div>
  <div class="row">
    <div class="span4 offset2">
      <h4>Field:</h4>
      <%= @game.field.name %>
    </div>
    <div class="span4">
      <h4>Location:</h4>
      <%= @game.field.location %>
    </div>
  </div>
</div>
