<ul class="nav nav-pills">
  <li class="active"><a href="#">Leagues</a></li>

  <div class="btn-group pull-right">
    <%= link_to "Add League", "#leagues_new_modal", class: "admin_modal btn btn-primary", role: "button", data: { toggle: "modal" } %>
    <%= link_to "Assign Late Players", "#assign_modal", class: "btn btn-success", role: "button", data: { toggle: "modal" } %>
    <%= link_to "Trade Players", "#trade_modal", class: "btn btn-success", role: "button", data: { toggle: "modal" } %>
  </div>
</ul>

<div class="row">
  <div class="col-md-12">
    <h3>Leagues</h3>
    <% if @leagues.empty? %>
      <p>There aren't any yet!</p>
    <% else %>
      <%= render partial: "super/leagues/table", locals: { leagues: @leagues } %>
    <% end %>
  </div>
</div>

<%= render partial: "super/leagues/new_modal" %>
<%= render partial: "super/users/assign_modal" %>
<%= render partial: "super/users/trade_modal" %>
