<h3 class="center"><%= @questionnaire.user.name %></h3>
<div class="row center">
  <div class="col-md-4">
    <h4>Handling</h4>
    <div><%= @questionnaire.handling %></div>
  </div>
  <div class="col-md-4">
    <h4>Cutting</h4>
    <div><%= @questionnaire.cutting %></div>
  </div>
  <div class="col-md-4">
    <h4>Defense</h4>
    <div><%= @questionnaire.defense %></div>
  </div>
</div>
<div class="row center">
  <div class="col-md-4">
    <h4>Fitness</h4>
    <div><%= @questionnaire.fitness %></div>
  </div>
  <div class="col-md-4">
    <h4>Injuries</h4>
    <div><%= @questionnaire.injuries.blank? ? "None" : @questionnaire.injuries  %></div>
  </div>
  <div class="col-md-4">
    <h4>Height</h4>
    <div><%= @questionnaire.height %></div>
  </div>
</div>
<div class="row center">
  <div class="col-md-4">
    <h4>Teams</h4>
    <div><%= @questionnaire.teams.blank? ? "None" : @questionnaire.teams  %></div>
  </div>
  <div class="col-md-4">
    <h4>Co-captain</h4>
    <div><%= @questionnaire.cocaptain %></div>
  </div>
  <div class="col-md-4">
    <h4>Previous Roles</h4>
    <%=raw "<div>Cutter</div>" if @questionnaire.cutter %>
    <%=raw "<div>Handler</div>" if @questionnaire.handler %>
    <%=raw "<div>None</div>" unless @questionnaire.cutter && @questionnaire.handler %>
  </div>
</div>
<div class="row center">
  <div class="col-md-6">
    <h4>Availability (<%= @questionnaire.availability %>%)</h4>
    <% @questionnaire.meetings.each do |meeting| %>
      <div><%= "#{meeting.date} #{meeting.time}: #{meeting.available ? "Available" : "Unavailable"}" %></div>
    <% end %>
  </div>
  <div class="col-md-6">
    <h4>Additional Comments</h4>
    <div><%= @questionnaire.comments.blank? ? "None" : @questionnaire.comments  %></div>
  </div>
</div>
