<table class="data-table table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th class="dont-sort"></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user|%>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone_number %></td>
        <td class="btn-group">
          <%= link_to "Upgrade", super_user_path(user.id, up: true), method: :put, class: "btn btn-primary" %>
          <% if user.paid? %>
            <%= link_to "Paid", "#", method: :post, class: "btn btn-success", disabled: true, readonly: true %>
          <% else %>
            <%= link_to "Cash", cash_path(user_id: user.id, league_id: League.summer.id), method: :post, class: "btn btn-success" %>
          <% end %>
          <%= link_to "Downgrade", super_user_path(user.id, up: false), method: :put, class: "btn btn-warning" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
