<% if League.current.pre_draft? || League.current.in_progress? %>
  <div id="trade_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">Trade Players</h3>
        </div>
        <div class="modal-body">
          <%= form_for(:trade, url: trade_super_users_path, method: :put, html: { class: "form-horizontal" }) do |f| %>
            <div class="form-group">
              <div class="col-md-2">
                <h4>Teams</h4>
              </div>
              <div class="col-md-5 trade-team-1">
                <%= f.select :team1_id, League.current.teams.collect {|t| [t.name, t.id]}, {}, { class: "form-control" } %>
              </div>
              <div class="col-md-5 trade-team-2">
                <%= f.select :team2_id, League.current.teams.collect {|t| [t.name, t.id]}, {}, { class: "form-control" } %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-2">
                <h4>Players</h4>
              </div>
              <div class="col-md-5 trade-player-1">
                <%= f.select :player1_id, League.current.teams.first.players.collect {|p| [p.name, p.id]}, { include_blank: "No One" }, { class: "form-control" } %>
              </div>
              <div class="col-md-5 trade-player-2">
                <%= f.select :player2_id, League.current.teams.first.players.collect {|p| [p.name, p.id]}, { include_blank: "No One" }, { class: "form-control" } %>
              </div>
            </div>
            <%= f.submit "Submit", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
    <% League.current.teams.each do |team| %>
      <div class="hide team-<%= team.id %>"><%= options_for_select(team.players.collect { |p| [p.name, p.id] }.prepend(["No One", nil])) %></div>
    <% end %>
  </div>
<% end %>
