<table class="data-table table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Experience</th>
      <th>Gender</th>
      <th>Personality</th>
      <th class="dont-sort">Questionnaire</th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone_number %></td>
        <td><%= user.experience %></td>
        <td><%= user.gender %></td>
        <% blend_name = user.assessment.blend_name %>
        <td><%= blend_name.blank? ? "None" : blend_name %></td>
        <td>
          <% questionnaire = user.questionnaire %>
          <% if questionnaire %>
            <%= link_to "View", questionnaire_path(questionnaire.id), class: "btn btn-primary" %>
          <% else %>
            <%= link_to "None", "#", class: "btn btn-default" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
