<div class="modal-dialog">
  <div class="modal-content">
    <%= form_for(@game, url: game_stats_path(@game.id)) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">
          <span>Edit Stats</span>
        </h3>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-md-5">
            <%= f.input_field :winner_id, as: :select, include_blank: false, collection: @game.teams %>
          </div>
          <div class="col-md-5 col-md-offset-1">
            <%= f.input_field :loser_id, as: :select, include_blank: false, collection: @game.teams %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <ul class="nav nav-pills">
              <li class="active"><a href="#team1" data-toggle="tab">Team 1</a></li>
              <li><a href="#team2" data-toggle="tab">Team 2</a></li>
            </ul>

            <div id="my-tab-content" class="tab-content">
              <div class="tab-pane active" id="team1">
                <%= f.fields_for :team_stats1 do |stats| %>
                  <div class="row">
                    <div class="col-md-12">
                      <span>Player's Assists/Goals</span> <%= fa_icon "plus-circle", class: "add-player1" %></i>
                    </div>
                  </div>
                  <div class="players">
                    <%= stats.fields_for :player_stats, html: { class: 'form-horizontal' } do |player| %>
                      <div class="row">
                        <div class="col-md-12">
                          <%= player.input_field :player_id, as: :select, collection: @game.team1.players %>
                          <%= player.input_field :assists, placeholder: "Assists", class: "width-60" %>
                          <%= player.input_field :goals, placeholder: "Goals", class: "width-60" %>
                          <%= player.input_field :_destroy, class: "auto-width", as: :select, include_blank: false, collection: [["Present", false], ["Absent", true]] %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>

              <div class="tab-pane" id="team2">
                <%= f.fields_for :team_stats2 do |stats| %>
                  <div class="row">
                    <div class="col-md-12">
                      <span>Player's Assists/Goals</span> <%= fa_icon "plus-circle", class: "add-player2" %></i>
                    </div>
                  </div>
                  <div class="players">
                    <%= stats.fields_for :player_stats, html: { class: 'form-horizontal' } do |player| %>
                      <div class="row">
                        <div class="col-md-12">
                          <%= player.input_field :player_id, as: :select, collection: @game.team2.players %>
                          <%= player.input_field :assists, placeholder: "Assists", class: "width-60" %>
                          <%= player.input_field :goals, placeholder: "Goals", class: "width-60" %>
                          <%= player.input_field :_destroy, class: "auto-width", as: :select, include_blank: false, collection: [["Present", false], ["Absent", true]] %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit "Save", class: "btn btn-primary" %>
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
      </div>
    <% end %>
  </div>
</div>
