<h3 class="text-center no-margin-top"><%= @league.name %> Stats</h3>

<table class="data-table table table-striped stats">
  <thead>
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th>Games Played</th>
      <th>Assists</th>
      <th>Goals</th>
      <th class="default-sort" data-dir="desc">Points</th>
      <th>Points Per Game</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <% cache [player, @league] do %>
        <tr class="text-center">
          <td class="text-left"><%= player.name %></td>
          <td class="text-left"><%= player.team(@league.id).name %></td>
          <td><%= player.games_played(@league.id) %></td>
          <td><%= player.assists(@league.id) %></td>
          <td><%= player.goals(@league.id) %></td>
          <td><%= player.points(@league.id) %></td>
          <td><%= number_with_precision(player.points_per_game(@league.id), strip_insignificant_zeros: true, precision: 2) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
