<h3 class="text-center no-margin-top"><%= @league.name %> Standings</h3>

<table class="data-table-lite table table-striped stats">
  <thead>
    <tr>
      <th>Team</th>
      <th class="default-sort">Place</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Ties</th>
      <th>Total Points</th>
      <th>Point Differential</th>
      <th>Points Per Game</th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <% cache [team, @league] do %>
        <tr class="team text-center">
          <td class="text-left"><%= link_to team.name, team_path(team.id), class: "btn btn-primary" %></td>
          <td><%= team.place %></td>
          <td><%= team.wins.count %></td>
          <td><%= team.losses.count %></td>
          <td><%= team.ties.count %></td>
          <td><%= team.points %></td>
          <td><%= team.point_differential %></td>
          <td><%= number_with_precision(team.points_per_game, strip_insignificant_zeros: true, precision: 2) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
