<%= form_for(@player_award, html: { class: "form-horizontal" }) do |f| %>
  <div class="form-group">
    <%= f.label :most_valuable, "Most Valuable Player", class: "col-md-6 control-label" %>
    <div class="col-md-6">
      <%= f.select :most_valuable, @players, { include_blank: true }, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :offensive, "Offensive Player of the Year", class: "col-md-6 control-label" %>
    <div class="col-md-6">
      <%= f.select :offensive, @players, { include_blank: true }, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :defensive, "Defensive Player of the Year", class: "col-md-6 control-label" %>
    <div class="col-md-6">
      <%= f.select :defensive, @players, { include_blank: true }, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rookie, "Rookie of the Year", class: "col-md-6 control-label" %>
    <div class="col-md-6">
      <%= f.select :rookie, @players, { include_blank: true }, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :female, "Female Player of the Year", class: "col-md-6 control-label" %>
    <div class="col-md-6">
      <%= f.select :female, @females, { include_blank: true }, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :comeback, "Comeback Player of the Year", class: "col-md-6 control-label" %>
    <div class="col-md-6">
      <%= f.select :comeback, @players, { include_blank: true }, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :captain, "Captain of the Year", class: "col-md-6 control-label" %>
    <div class="col-md-6">
      <%= f.select :captain, @captains, { include_blank: true }, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :spirit, "Most Spirited Player of the Year", class: "col-md-6 control-label" %>
    <div class="col-md-6">
      <%= f.select :spirit, @players, { include_blank: true }, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :iron_man, "Iron Man Award", class: "col-md-6 control-label" %>
    <div class="col-md-6">
      <%= f.select :iron_man, @players, { include_blank: true }, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :most_outspoken, "Most Outspoken Player of the Year", class: "col-md-6 control-label" %>
    <div class="col-md-6">
      <%= f.select :most_outspoken, @players, { include_blank: true }, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :most_improved, "Most Improved Player of the Year", class: "col-md-6 control-label" %>
    <div class="col-md-6">
      <%= f.select :most_improved, @players, { include_blank: true }, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :hustle, "Hustle Award", class: "col-md-6 control-label" %>
    <div class="col-md-6">
      <%= f.select :hustle, @players, { include_blank: true }, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :best_layouts, "Best Layouts", class: "col-md-6 control-label" %>
    <div class="col-md-6">
      <%= f.select :best_layouts, @players, { include_blank: true }, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :most_underrated, "Most Underrated Player of the Year", class: "col-md-6 control-label" %>
    <div class="col-md-6">
      <%= f.select :most_underrated, @players, { include_blank: true }, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :sportsmanship, "Sportsmanship Award", class: "col-md-6 control-label" %>
    <div class="col-md-6">
      <%= f.select :sportsmanship, @players, { include_blank: true }, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ideas, "Ideas for new awards", class: "col-md-6 control-label" %>
    <div class="col-md-6">
      <%= f.text_field :ideas, { class: "form-control" } %>
    </div>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
