<div class="admin-navbar navbar navbar-fixed-top">
  <div class="navbar-header">
    <a href="" class="navbar-toggle prevent-default" data-toggle="collapse" data-target=".admin-collapse">
      <%= fa_icon "bars" %>
    </a>
    <%= link_to "ADMIN", admin_path, class: "navbar-brand" %>
  </div>

  <div class="admin-collapse navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to(fa_icon("check-circle-o") + " Teams", admin_teams_path) %></li>
      <li><%= link_to(fa_icon("check-circle-o") + " Captains", admin_captains_path) %></li>
      <li><%= link_to(fa_icon("check-circle-o") + " Users", admin_users_path) %></li>
      <li><%= link_to(fa_icon("check-circle-o") + " Games", admin_games_path) %></li>
    </ul>
  </div>
</div>
