<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="" class="navbar-toggle prevent-default" data-toggle="collapse" data-target=".default-collapse">
        <%= fa_icon "bars" %>
      </a>
      <%= link_to(fa_icon("database") + " SUPA", root_path, class: "navbar-brand") %>
    </div>

    <div class="default-collapse navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">League <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if League.summer && League.summer.started? %>
              <li><%= link_to(fa_icon("sun-o") + " Summer", summer_path) %></li>
            <% end %>
            <% if League.fall && League.fall.started? %>
              <li><%= link_to(fa_icon("leaf") + " Fall", fall_path) %></li>
            <% end %>
            <% if League.spring && League.spring.started? %>
              <li><%= link_to(fa_icon("send-o") + " Spring", spring_path) %></li>
            <% end %>
          </ul>
        </li>
        <% if League.current && League.current.started? %>
          <li><%= link_to(fa_icon("flag") + " Standings", standings_path) %></li>
          <li><%= link_to(fa_icon("bar-chart-o") + " Stats", stats_path) %></li>
        <% end %>
        <% if League.current && League.current.summer? && League.current.voting? && current_user && current_user.on_a_team? %>
          <li><%= link_to(fa_icon("trophy") + " Player Awards", new_player_award_path) %></li>
        <% end %>
        <% Page.where("importance > 0").each do |page| %>
          <li><%= link_to(fa_icon("star") + " #{page.name}", page_path(page.path)) %></li>
        <% end %>
        <% if user_signed_in? %>
          <li><%= link_to(fa_icon("user") + " Profile", profile_path) %></li>
          <% if current_user && current_user.is_captain? %>
            <li><%= link_to(fa_icon("anchor") + " Captain", captain_path) %></li>
          <% end %>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to(fa_icon("power-off") + " Sign Out", sign_out_path, method: :delete) %></li>
        <% else %>
          <li><%= link_to(fa_icon("sign-in") + " Sign In/Up", new_user_session_path) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
