<div class="super-navbar navbar navbar-fixed-top">
  <div class="navbar-header">
    <a href="" class="navbar-toggle prevent-default" data-toggle="collapse" data-target=".super-collapse">
      <%= fa_icon "bars" %>
    </a>
    <%= link_to(fa_icon("code") + " SUPER", super_path, class: "navbar-brand") %>
  </div>

  <div class="super-collapse navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to(fa_icon("check-circle-o") + " Announcements", super_announcements_path) %></li>
      <li><%= link_to(fa_icon("check-circle-o") + " Emails", super_emails_path) %></li>
      <li><%= link_to(fa_icon("check-circle-o") + " Images", super_images_path) %></li>
      <li><%= link_to(fa_icon("check-circle-o") + " Pages", super_pages_path) %></li>
      <li><%= link_to(fa_icon("check-circle-o") + " Leagues", super_leagues_path) %></li>
      <li><%= link_to(fa_icon("check-circle-o") + " Drafts", super_drafts_path) %></li>
      <li><%= link_to(fa_icon("check-circle-o") + " Fields", super_fields_path) %></li>
      <li><%= link_to(fa_icon("check-circle-o") + " Users", super_users_path) %></li>
      <li><%= link_to(fa_icon("check-circle-o") + " Baggage", super_baggages_path) %></li>
    </ul>
  </div>
</div>
