<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body>
    <%= render "layouts/header" %>
    <div class="container-fluid  main-content">
      <% if current_user && current_user.is_real_admin? %>
        <%= render "layouts/admin_header" %>
        <% extra_class = " admin-navbar-push"%>
      <% end %>
      <div class="row<%= extra_class %>">
        <div class="col-md-12">
          <% unless devise_error_messages!.empty? %>
            <% devise_error_messages!.each do |key, value| %>
              <div class="row">
                <div class="col-md-12">
                  <div class="alert alert-danger">
                    <a class="close" data-dismiss="alert">×</a>
                    <%= key %> <%= value %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
          <% unless flash.empty? %>
            <% flash.each do |name, msg| %>
              <div class="row">
                <div class="col-md-12">
                  <div class="alert alert-<%= name == :notice ? "success" : "danger" %>">
                    <a class="close" data-dismiss="alert">×</a>
                    <%= msg.to_s.html_safe %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
          <%= yield %>
          <%= render "layouts/footer" %>
        </div>
      </div>
    </div>
    <%= render "layouts/sidebar" %>
  </body>
</html>
