<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body>
    <%= render "layouts/header" %>
    <div class="container-fluid main-content <%= [controller_name, action_name].join("-") %>">
      <% if current_user && current_user.is_super_admin? %>
        <%= render "layouts/super_header" %>
        <%= render "layouts/admin_header" %>
        <% extra_class = " super-navbar-push"%>
      <% elsif current_user && current_user.is_real_admin? %>
        <%= render "layouts/admin_header" %>
        <% extra_class = " admin-navbar-push"%>
      <% end %>
      <div class="<%= extra_class %>">
        <%= render partial: "layouts/ads" %>
      </div>
      <div class="ad-offset">
        <div class="row">
          <div class="col-md-12">
            <%= render "layouts/flash" %>
            <%= yield %>
            <%= render "layouts/footer" %>
          </div>
        </div>
      </div>
    </div>
    <%= render "layouts/sidebar" %>
  </body>
</html>
